<tr>
    <td>{{this.id}}</td>
    <td>{{this.title}}</td>
    <td>£{{this.totalCost}}</td>
    <td>{{this.itemsCount}}</td>
    <td>
        <a href='/restaurants/editMenu/{{this.id}}' data-id='{{this.id}}'><i class="far fa-edit"></i></a>
        <a href='/restaurants/deleteMenu/{{this.id}}' data-id='{{this.id}}'><i class="far fa-trash-alt"></i></a>

    </td>