<tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>£{{this.price}}</td>
    {{#if this.MenuId }}
      <td>{{this.MenuId}}</td>
            {{else}}
      <td>{{this.MenuId}}</td>
      {{/if}}

    <td>
        <a href='/restaurants/editMenuItem/{{this.id}}' data-id='{{this.id}}'><i class="far fa-edit"></i></a>
        <a href='/restaurants/deleteMenuItem/{{this.id}}' data-id='{{this.id}}'><i class="far fa-trash-alt"></i></a>
    </td>