<h2>You are editing {{menuItem.0.name}}</h2>
<div>
    <form method="post" action="/restaurants/editMenuItem/{{menuItem.0.id}}?_method=PUT">
        <div>
            <input type="text" name="name" id="" value="{{menuItem.0.name}}"> Name
        </div>
        <div>
            
            <select type="text" name="RestaurantId">
                <option value="unassigned">Unassigned</option>
                {{#if menus.length }}
                {{#each menus }}
                <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
                {{/if}}
            </select>
            Menu Name
        </div>





        <div> Click this to modify your Menu Item

            <input type="submit" value="Submit">

            </input>
        </div>
    </form>
</div>