<h2>You are editing {{restaurant.0.name}}</h2>
<div>
    <form method="post" action="/restaurants/{{restaurant.0.id}}/edit?_method=PUT">
    <div>
        <input type="text" name="name" id="" 
        value="{{restaurant.0.name}}"> Name
    </div>

        <div>
        <textarea name="imagelink" 
        rows="3" cols="19 px" >{{restaurant.0.imagelink}}</textarea> Image Link
    </div>
    {{!-- <div>
        <img class="round-image" src='{{restaurant.0.imagelink}}' alt='{{restaurant.0.name}}'/>
    </div> --}}
        
        

        <div> Click this to modify your Restaurant
    
            <input type="submit" value="Submit">
    
        </input>
        </div>
    </form>
</div>
{{> backToRestaurants}}