<div class="row">
    <h2>You are viewing {{restaurant.0.name}}</h2>
</div>
<div class="row justify-content-center">
<div class="card col-md-6">
  <div class='row card-body align-items-center'>
    <div class="col-md-6">
      Some description
    </div>
    <img class="col-md-6 round-image " src='{{restaurant.0.imagelink}}' alt='{{restaurant.0.name}}' />
  </div>
    <div class="row card-footer">
    <div class="btn-group" role="group" aria-label="Basic outlined example">

      <a class="btn btn-outline-primary" href='/restaurants/{{restaurant.0.id}}/edit' data-id='{{restaurant.0.id}}'>
        Edit
      </a>
      <a class="btn btn-outline-primary" type='button' href="/restaurants/{{restaurant.0.id}}/delete" data-id='{{restaurant.0.id}}'>
        Delete
      </a>
    </div>

  </div>
  </div>
  <div class="row">

<div class="col-md-7">


  <h2>Menus</h2>

<div class="col-sm-12">
  <a href='/restaurants/create'>Add New Menu</a>
</div>
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Total cost</th>
        <th scope="col">Items count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#if menus.length }}
      {{#each menus }}
      {{> menuPartial this }}
      {{/each}}
      {{else}}
      <p>No unassigned menus</p>
      {{/if}}
    </tbody>
  </table>
</div>


<div class="col-md-5">

  <h2>Menu Items</h2>

<div class="col-sm-12">
  <a href='/restaurants/create'>Add New Menu Item</a>
</div>
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col4">Menu Id</th>          
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#if menuItems.length }}
      {{#each menuItems }}
      {{> menuItemPartial this }}
      {{/each}}
      {{else}}
      <p>No assigned menu item</p>
      {{/if}}
    </tbody>
  </table>
</div>

</div>
